*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", "Montserrat";
}

.wrapper{
    background-color: hsl(201, 43%, 22%);
    padding: 2rem 0;
}
.about{
    text-align: center;
    padding: 1rem;
}
.about h1{
    font-size: 3rem;
    color: #c2ccd1;
    margin-bottom: 1rem;
}
h2, h3, h4{
    color: brown;
}
.intro{
    font-size: 1.5em;
    color: whitesmoke;
}
.description{
    color: rgb(197, 184, 184);
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 2rem;
}

.wrapper-2{
    padding: 2rem;
    background-color: whitesmoke;
}
.page-title{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
}
.skill{
    text-align: center;
    margin-bottom: 2rem;
}
.skill .fa {
    font-size: 6rem !important;
    margin-bottom: 0.5rem;
}
.skill-text{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.fa-html5{ color: green; }
.fa-css3{ color: rgb(73, 28, 28); }
.fa-code{ color: brown; }

.wrapper-3{
    background-color: wheat;
    padding: 2rem 1rem;
}
.projects-title{
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.3rem;
}
.project-text{
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 2rem;
}
#proj{
    list-style-type: none;
    text-align: justify;
}
#proj li{
    padding: 5px;
}
.project-item{
    font-size: 20px;
}
.project-item a{
    color: green;
}
.slant{
    font-style: italic; 
    font-size: 1.2rem !important;
}

.wrapper-4{
    width: auto;
    padding: 2rem 0 ;
    text-align: center;
    background-color: whitesmoke;
}
#contact{
    font-size: 2em;
    margin-bottom: 1rem;
}
.email{
    margin: 1rem 0;
}
i+a {
    text-decoration: none;
    color: goldenrod;
    font-weight: 700;
}
.fa-file-pdf-o,
.fa-envelope-o,
.fa-mobile { 
    color: red;
}
.number i, .email i, .pdf i{
    display: none;
}

/* media query */
@media only screen and (min-width: 750px) {
    .wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about h1{
        font-size: 6em;
        color: #c2ccd1;
    }
    .intro{
        font-size: 3rem;
        margin-bottom: 2rem;
        color: whitesmoke;
    }
    .description{
        color: #fff;
        font-size: 2rem;
        line-height: 3rem;
    }
    .flex-box{
        display: flex;
        justify-content: space-evenly;
    }

    .project-text{
        text-align: center;
    }
   
    #details{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .number i, .email i, .pdf i{
        display: inline;
        margin-right: 1rem;
    }
    .number, .email, .pdf{
        display: flex;
        align-items: center;
    }
}